.page-title-404 {
  width: 100%;
  height: 134px;
  margin: 0;
  background-color: #7ec0ff;
}

.wrapper-404 {
  max-width: 1275px;
  padding: 0 40% 0 25px;
  margin: 0 auto;
}

.widget_recent_entries ul {
  margin: 15;
  display: inline;
}

.widget_recent_entries ul li {
  padding: 0;
  width: auto;
  margin: auto;
  border: none;
  background-color: transparent;
  border-radius: 0;
}

.recententriesdiv ul li:hover {
  background-color: transparent;
}

.widget_recent_entries ul li a {
  font-size: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: $color_mediumblue;
  border-radius: 0;
  transition: 0.4s;
}

.widget_recent_entries ul li a:hover {
  font-size: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: $color_darkblue;
  border-radius: 0;
  transition: 0.4s;
}

.widget_categories_2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.widget_categories_2 ul li a {
  transition: 0.4s;
}

.widget_categories_2 ul li a:hover {
  transition: 0.4s;
}

@media only screen and (max-width: 840px) {
  .wrapper-404 {
    padding: 25px 25px;
  }

  .wrapper-404.searchform {
    max-width: 500px;
  }
}

@media only screen and (max-width: 640px) {
  .page-title-404 {
    font-size: 14px;
    padding-top: 35px;
    text-align: center;
  }

  #page-404-title {
    line-height: 43px;
  }

  .wrapper-404 {
    text-align: center;
  }
}

@media only screen and (max-width: 325px) {
  .page-title-404 {
    font-size: 14px;
    padding-top: 6px;
    text-align: center;
  }
}
